*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 30px;
}

body,
h3,
p,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}  

a {
    text-decoration: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -o-appearance: none;
}
select::-ms-expand {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
